.header {
  color: white;
  height: 4em;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  align-items: center;

  &-left {
    display: flex;
    margin-left: 25px;
    align-items: center;
  }

  &-play {
    font-size: 2.5em;
    margin-left: 0.6em;

    &:hover {
      cursor: pointer;
    }
  }

  &-title {
    font-size: 2em;
    font-family: 'Oswald',
      sans-serif;
    color: #ffe7e6;
    &:hover {
        cursor: pointer;
    }
  }

  //   &--shown {
  //     top: 0;
  //     animation: header-showing .5s ease;
  //   }
}

.search {
  display: flex;
  align-items: center;
  // justify-content: flex-end;
  // position: relative;
  // bottom: 3em;
  // right: 75px;
  width: 20em;
  float: right;
  margin-right: 75px;

  input {
    border: 1px solid white;
    border-radius: 3px;
    background-color: #19121d;
    height: 2em;
    padding-left: 10px;
    margin-bottom: 0;
    box-sizing: border-box;
    position: relative;
    color: white;

    &::placeholder {
      color: rgba(255, 246, 246, 0.247);
    }

    &:focus,
    &:active {
      outline: none;
      box-shadow: none;
      border-bottom: 1px solid white;
    }

  }

  &-button {
    color: rgb(255, 79, 79);
    font-size: 2em;
    position: absolute;
    right: 75px;

    &:hover {
      cursor: pointer;
    }
  }

  &--on-header {
    position: fixed;
    top: 1em;
    right: 0;
    z-index: 999;
    width: 40%;
    // animation: header-search-showing .5s ease;

    i {
      right: 0;
    }
  }
}
