.movies-list {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 30px;

  &__background {
    background-color: rgb(27, 27, 27);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -9999;
  }

  &__row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: scroll;
    width: 100vw;
  }

  &__genre-name {
    color: white;
    padding-left: 5px;
    font-size: 2em;
  }

  &--shadow {
    position: fixed;
    top: 50%;
    left: 0;
    z-index: 10;
    width: 100%;
  }


  &__outer {
    height: 50%;
    overflow: scroll;
    position: fixed;
    bottom: 0;
  }

  &__item {
    margin-left: 5px;
    margin-right: 5px;
  }


  &__poster {
    max-height: 20em;

    &:hover {
      cursor: pointer;
    }

    &:active {
      border: none;
      outline: none;
      box-shadow: none;
      -webkit-box-shadow: none;
    }
  }

  &__load-icon {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: flex;

    div {
      height: 3em;
      width: 3em;
      background-color: rgb(117, 117, 117);
      border-radius: 50%;
      margin: 5px;

      &:nth-child(1) {
        animation: preloader .6s ease -.6s infinite;
      }

      &:nth-child(2) {
        animation: preloader .6s ease -.4s infinite;
      }

      &:nth-child(3) {
        animation: preloader .6s ease -.2s infinite;
      }
    }
  }
}

::-webkit-scrollbar {
  display: none;
}

.search {
  position: absolute;
  top: 22em;
  left: 35px;
  display: flex;
  align-items: center;

  input {
    color: white;
    width: 0px;
    border-bottom: 1px solid #b60000;

    &:focus {
      border-bottom: 1px solid #b60000;
      box-shadow: 0 1px 0 0 #b60000;
    }
  }

  .closed {
    width: 0px;
    animation: close-search .5s ease;
  }

  .opened {
    width: 300px;
    animation: open-search .5s ease;
  }

  &-button {
    color: rgb(173, 173, 173);
    font-size: 2.5em;

    &:hover {
      cursor: pointer;
    }
  }
}

@keyframes open-search {
  0% {
    width: 0px;
  }

  100% {
    width: 300px;
  }
}

@keyframes close-search {
  0% {
    width: 300px
  }

  100% {
    width: 0px;
  }
}

@keyframes preloader {
  0% {
    opacity: .2;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: .2;
  }
}


@media screen and (max-width: 768px) {
  .movies-list {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 30px;

    &__row {
      display: flex;
      justify-content: flex-start;
      flex-wrap: nowrap;
      flex-direction: row;
      overflow-x: scroll;
      width: 100vw;
    }

    &__genre-name {
      color: white;
      padding-left: 3px;
      font-size: 1.5em;
    }

    &--shadow {
      position: fixed;
      top: 50%;
      left: 0;
      z-index: 10;
      width: 100%;
    }


    &__outer {
      height: 40%;
      overflow: scroll;
      position: fixed;
      bottom: 0;
      background-color: rgba(11, 2, 6, 0.91);
    }

    &__item {
      margin-left: 3px;
      margin-right: 3px;
    }


    &__poster {
      max-height: 15em;

      &:hover {
        cursor: pointer;
        box-shadow: whitesmoke 2px 2px 2px 2px;
      }

      &:active {
        border: none;
        outline: none;
        box-shadow: none;
        -webkit-box-shadow: none;
      }
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .search {
    position: absolute;
    top: 0;
    left: 35px;
    display: flex;
    align-items: center;

    input {
      color: white;
      background: #232222a8;
      border-radius: 20px;

      &:focus {
        border-bottom: 1px solid #b60000;
        box-shadow: 0 1px 0 0 #b60000;
      }
    }

    .closed {
      width: 300px;
    }

    .opened {
      width: 300px;
    }

    &-button {
      color: rgb(173, 173, 173);
      font-size: 2.5em;

      &:hover {
        cursor: pointer;
      }
    }
  }

}
