.movies-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  &__shadow {
    position: fixed;
    top: 50%;
    left: 0;
    // box-shadow: 0 0 40px 25px #211e1e;

    z-index: 10;
    width: 100%;
  }


  &__outer {
    height: 50%;
    overflow: scroll;
    position: fixed;
    bottom: 0;
  }
}

.movie-poster {
  max-height: 20em;
}

@keyframes hiding {
  0% {}
}
