.short-details {

  color: white;
  padding: 50px;
  padding-top: 20px;

  &__title {
    font-size: 3.5em;
  }

  &__release {
    color: rgb(55, 255, 55);
  }

  i {
    position: absolute;
    top: 2em;
    left: 1.4em;
    transform: translate(-50%, -50%);
    font-size: 5em;

    &:hover {
      cursor: pointer;
    }
  }

}
