#yohoho {
  height: 100vh;
  width: 100%;
}

.player {
  &__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(27, 27, 27);
  }

  img {
    width: 100vw;
    height: auto;
    position: fixed;
  }

  &__back-btn {
    position: fixed;
    z-index: 10;
    top: 30px;
    left: 30px;
    font-size: 3em;
    color: white;
    transition: all ease .3s;
    text-shadow: 0 0 2px black;

    &:hover {
      left: 28px;
      cursor: pointer;
    }
  }

  &__play {
    position: fixed;
    left: calc(50% - 5rem);
    top: calc(50% - 5rem);
    font-size: 10em;
    // transform: translate(-50%, -50%);
    color: white;
    // animation: playBtnMove 1s;

    &--loading {
      animation: loading .8s infinite;
    }

    &:hover {
      cursor: pointer;
      color: rgb(216, 216, 216);
    }
  }
}

@keyframes playBtnMove {
  0% {
    top: 23%;
    left: 87%;
    font-size: 6em;
  }

  100% {
    top: 50%;
    left: 50%;
    font-size: 10em;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg)
  }
}
