<ul class="sidenav sidenav-fixed a-sidenav">
    <h4>KinoHunter</h4>
    <li class="bold active"><a href="#" class="waves-effect waves-orange">Обзор</a></li>
    <li class="bold"><a href="#" class="waves-effect waves-orange">Аналитика</a></li>
    <li class="bold"><a href="#" class="waves-effect waves-orange">История</a></li>
    <li class="bold"><a href="#" class="waves-effect waves-orange">Добавить заказ</a></li>
    <li class="bold "><a href="#" class="waves-effect waves-orange">Ассортимент</a></li>
    <li class="bold last"><a href="#" class="waves-effect waves-orange">Выйти</a></li>
</ul>

