.details {
  font-family: 'Nanum Gothic', sans-serif;

  &__outer {
    width: 100%;
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    // &::after {
    //   width: 100%;
    //   height: 100vh;
    //   content: '';
    //   background-image: inherit;
    //   background-repeat: no-repeat;
    //   background-position: center;
    //   background-size: cover;
    //   position: fixed;
    //   top: 0;
    //   left: 0;
    //   opacity: .667;
    //   z-index: -999;
    // }
  }


  &__background {
    width: 100%;
    height: auto;
    opacity: 0.667;
  }

  &__inner {
    // background: linear-gradient(9deg, #000a19, transparent);
    background: linear-gradient(90deg, #000a19, 60%, #35353550);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin: 25px;
    opacity: 1;
    border: 2px solid #19121d;
    border-bottom: none;
    min-height: 100%;
  }

  &__text {
    color: white;
    max-width: 50%;
    padding-right: 3%;
    font-size: 1.2em;
    max-height: 30em;
    overflow-y: auto;
    overflow-x: visible;
    z-index: 100;

    & span {
      color: rgb(248, 248, 248);
      margin-left: 10px;
      font-size: 0.95em;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__title {
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    color: #ffe7e6;
    margin-top: 0.5rem;
  }

  &__overview {
    padding-top: 6rem;
    color: #d6cdc1;
  }

  &__release-date {
    margin-top: 2rem;

    & span {
      color: rgb(40, 255, 40);
    }

    font-size: 1.5em;
    color: #ffaeae;
  }


  &__player {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 20em;
    height: 30em;
    box-shadow: -13px 13px 20px 0px rgba(0, 0, 0, 0.5);

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      text-shadow: 0 0 2px black;
      transition: all ease .3s;

      &:hover {
        cursor: pointer;
        color: rgb(231, 228, 228);
      }
    }
  }

}

/* width */
::-webkit-scrollbar {
  width: 5px;

}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(250, 250, 250, 0.15);
  border-radius: 2px;
}

@media screen and (max-width:768px) {
  .details {
    font-family: 'Nanum Gothic', sans-serif;

    &__overview {
      font-size: 0.9em;
    }

    &__outer {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
    }

    &__title {
      font-size: 1.5em;
      text-shadow: black 2px 3px 4px;
    }

    &__background {
      width: 200%;
      margin-left: -50%;
      height: 500px;
    }

    &__inner {
      display: none
    }

    &__text {
      text-align: center;
      color: white;
      max-width: 100%;
      font-size: 1.2em;
      max-height: 16em;


      & span {
        color: rgb(199, 199, 199);
        margin-left: 10px;
        font-size: 0.7em;

        &:hover {
          cursor: pointer;
        }
      }
    }

    &__release-date {
      & span {
        color: rgb(40, 255, 40);
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      -webkit-box-pack: justify;
      justify-content: space-between;
      position: absolute;
      top: 30%;
      max-width: 100%;
    }

    &__player {
      position: relative;

      img {
        display: none;
      }

      i {
        position: absolute;
        margin-top: 30px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-shadow: 0 0 2px black;
        transition: all ease .3s;
        font-size: 3.2em;

        &:hover {
          cursor: pointer;
          color: rgb(231, 228, 228);
        }
      }
    }

  }
}
