<div class="search__outer">
    <div class="search__background"></div>
    <div class="search__header">
      <i class="medium material-icons search__back-arrow" (click)="returnBack()">
        keyboard_backspace</i>
      <div class="search__input">
        <input #input type="text" [(ngModel)]="searchQuery" (keyup)="handleTyping()">
      </div>
    </div>
    <div class="search__result">
      <div 
        *ngFor="let movie of movies"
        class="search__movie"
        [ngClass]="{selected: movie.id == selected_id}">
        <img 
          *ngIf="movie.poster_path !== undefined && movie.poster_path !== null" 
          [src]="getImgUrl(movie.poster_path)"
          [alt]="movie.original_title" 
          class="search__poster"
          [routerLink]="[movie.id]"
          (click)="handlePosterSelect(movie.id)"
          queryParamsHandling="merge">
          <router-outlet 
            *ngIf="movie.id == selected_id"
            [ngStyle]="{'background-image': getImgUrl(movie.backdrop_path)}"></router-outlet>
      </div>
    </div>
</div>