@import '../../styles/colors';

.search {

  &__background {
    background-color: $main-background-color;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -999;
  }


  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding-left: calc(2.5% + 5px);
    padding-right: calc(2.5% + 5px);
    background-color: rgb(15, 15, 15);
    z-index: 100;
  }

  &__result {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-around;
    // display: grid;
    // gap: 10px;
    // grid-template-columns: repeat(6, 1fr);
    // padding: 60px 2.5%;
    // position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;

    // @media screen and (max-width: 1200px) {
    //   grid-template-columns: repeat(5, 1fr);
    // }

    // @media screen and (max-width: 998px) {
    //   grid-template-columns: repeat(4, 1fr);
    // }

    // @media screen and (max-width: 768px) {
    //   grid-template-columns: repeat(3, 1fr);
    // }

    // @media screen and (max-width: 554px) {
    //   grid-template-columns: repeat(2, 1fr);
    // }


  }

  &__input {
    width: 40%;

    input {
      border: 1px solid white;
      border-radius: 3px;
      background-color: #19121d;
      height: 2em;
      padding-left: 10px;
      margin-bottom: 0;
      box-sizing: border-box;
      position: relative;
      color: white;
      width: 100%;

      &::placeholder {
        color: rgba(255, 246, 246, 0.247);
      }

      &:focus,
      &:active {
        outline: none;
        box-shadow: none;
        border-bottom: 1px solid white;
      }
    }

    i {
      color: rgb(255, 79, 79);
      font-size: 2em;
      position: absolute;
      right: 3%;

      &:hover {
        cursor: pointer;
      }
    }

  }

  &__poster {
    max-height: 20em;
    padding: 5px;
    // position: relative;

    &:hover {
      cursor: pointer;
    }
  }

  &__movie {
    display: flex;
  }


  &__back-arrow {
    color: rgb(182, 182, 182);
    font-size: 3em;

    &:hover {
      cursor: pointer;
    }
  }

  &__outer {
    position: relative;
    background-color: $main-background-color;
  }
}

.show-details {
  // transform: translate(0, 30%);
  margin-top: 80vh;
}

.selected {
  // margin-bottom: 2em;
  // animation: details-appear .5s ease;
}

::-webkit-scrollbar {
  width: 10px;
}

@keyframes search-input-moving {
  0% {
    margin-top: 22em;
    margin-right: calc(100vw - 335px);
  }

  100% {
    margin-top: 0;
    margin-right: 0;
  }
}

@keyframes details-appear {
  0% {
    height: 0em;
  }

  100% {
    height: 20em;
  }
}

@keyframes details-showing {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 30%);
  }
}

// ------------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------------
